
#wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.project{
  width: 240px;
  height: 400px;
  background-color: lightsteelblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20px;
}

.project-image{
  width: 90%;
  border-radius: 20px;
  margin: 10px;
  margin-bottom: 0px;
}

.project-download-button{
  margin-top: 2px;
  background-color: white;
  color: blueviolet;
  padding: 0px 2px 0px 2px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: blueviolet;
}

.project-download-button:hover{
  background-color: blueviolet;
  color: white;
}

.project-download-button:active{
  opacity: 0.8;
}

.project-title{
  text-align: center;
  font-family: monospace;
  font-size: large;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: blue;

}
